openapi: 3.0.2
servers:
  - url: https://collection.trap.jp/api
info:
  description: 'traPCollectionのAPI'
  version: '1.0.0'
  title: 'traPCollection API'
  contact:
    name: traP
    url: 'https://github.com/traPtitech/trap-collection-server'
security:
  - TrapMemberAuth:
      - read
  - LauncherAuth: []
paths:
  /oauth2/callback:
    parameters:
      - name: code
        in: query
        required: true
        description: OAuth2.0のcode
        schema:
          type: string
      - $ref: '#/components/parameters/sessions'
    get:
      tags:
        - oauth2
      summary: OAuthのコールバック
      operationId: callback
      responses:
        200:
          description: 成功
        302:
          description: 失敗時。認証ページへリダイレクト
  /oauth2/generate/code:
    parameters:
      - $ref: '#/components/parameters/sessions'
    get:
      tags:
        - oauth2
      summary: OAuthのcode_challengeとかの取得
      operationId: getGeneratedCode
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  code_challenge:
                    type: string
                  code_challenge_method:
                    type: string
                  client_id:
                    type: string
                  response_type:
                    type: string
        500:
          description: 失敗
  /oauth2/logout:
    post:
      tags:
        - oauth2
      summary: traP Collectionのログアウト
      security:
        - TrapMemberAuth:
            - read
      operationId: postLogout
      parameters:
        - $ref: '#/components/parameters/sessions'
      responses:
        200:
          description: 成功
        500:
          description: 失敗
  /users/me:
    get:
      tags:
        - user
      summary: 自分の情報の取得
      security:
        - TrapMemberAuth:
            - read
      operationId: getMe
      parameters:
        - $ref: '#/components/parameters/sessions'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        500:
          description: 失敗
  /users:
    get:
      tags:
        - user
      summary: traQの全ユーザー取得
      security:
        - TrapMemberAuth:
            - read
      operationId: getUsers
      parameters:
        - $ref: '#/components/parameters/sessions'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        500:
          description: 失敗
  /games:
    post:
      tags:
        - game
      summary: ゲームの追加
      security:
        - TrapMemberAuth:
            - read
      operationId: postGame
      parameters:
        - $ref: '#/components/parameters/sessions'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGameMeta'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameMeta'
        500:
          description: 失敗
    get:
      tags:
        - game
      summary: ゲーム一覧の取得
      parameters:
        - $ref: '#/components/parameters/sessions'
        - name: all
          description: trueですべてのゲーム、そうでないとき自分がadminまたはmaintainerのゲーム
          in: query
          required: false
          schema:
            type: boolean
      security:
        - TrapMemberAuth:
            - read
      operationId: getGames
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
        500:
          description: 失敗
  /games/{gameID}:
    parameters:
      - $ref: '#/components/parameters/gameID'
    delete:
      tags:
        - game
      summary: ゲームの削除
      security:
        - TrapMemberAuth:
            - read
        - GameMaintainerAuth: []
      operationId: deleteGames
      responses:
        200:
          description: 成功
        500:
          description: 失敗
  /games/{gameID}/info:
    parameters:
      - $ref: '#/components/parameters/gameID'
    get:
      tags:
        - game
      summary: ゲーム情報の取得
      security:
        - TrapMemberAuth:
            - read
        - LauncherAuth: []
      operationId: getGame
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        500:
          description: 失敗
    put:
      tags:
        - game
      summary: ゲームの情報の修正
      security:
        - TrapMemberAuth:
            - read
        - GameMaintainerAuth: []
      operationId: putGame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGameMeta'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameMeta'
        500:
          description: 失敗
  /games/{gameID}/image:
    parameters:
      - $ref: '#/components/parameters/gameID'
    post:
      tags:
        - game
      summary: ゲームの画像の変更
      security:
        - TrapMemberAuth:
            - read
        - GameMaintainerAuth: []
      operationId: putImage
      requestBody:
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
      responses:
        200:
          description: 成功
        500:
          description: 失敗
    get:
      tags:
        - game
      summary: ゲームの画像の取得
      security:
        - TrapMemberAuth:
            - read
        - LauncherAuth: []
      operationId: getImage
      responses:
        200:
          description: 成功
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        500:
          description: 失敗
  /games/{gameID}/video:
    parameters:
      - $ref: '#/components/parameters/gameID'
    post:
      tags:
        - game
      summary: ゲームの動画の変更
      security:
        - TrapMemberAuth:
            - read
        - GameMaintainerAuth: []
      operationId: postVideo
      requestBody:
        content:
          video/mp4:
            schema:
              type: string
              format: binary
      responses:
        200:
          description: 成功
        500:
          description: 失敗
    get:
      tags:
        - game
      summary: ゲームの動画の取得
      security:
        - TrapMemberAuth:
            - read
        - LauncherAuth: []
      operationId: getVideo
      responses:
        200:
          description: 成功
          content:
            video/mp4:
              schema:
                type: string
                format: binary
        500:
          description: 失敗
  /games/{gameID}/maintainers:
    parameters:
      - $ref: '#/components/parameters/gameID'
    post:
      tags:
        - game
      summary: ゲームのバージョン更新権限保持者の追加
      security:
        - TrapMemberAuth:
            - read
        - GameMaintainerAuth: []
      operationId: postMaintainer
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                description: 権限を与える相手のtraQID（UUID）
                type: string
      responses:
        200:
          description: 成功
        500:
          description: 失敗
    get:
      tags:
        - game
      summary: ゲームの管理者の取得
      security:
        - TrapMemberAuth:
            - read
      operationId: getOwner
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Owner'
        500:
          description: 失敗
  /games/{gameID}/version:
    parameters:
      - $ref: '#/components/parameters/gameID'
    post:
      tags:
        - game
      summary: ゲームのバージョンの作成
      security:
        - TrapMemberAuth:
            - read
        - GameMaintainerAuth: []
      operationId: postGameVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGameVersion'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameVersion'
        500:
          description: 失敗
    get:
      tags:
        - game
      summary: ゲームのバージョン一覧の取得
      security:
        - TrapMemberAuth:
            - read
      operationId: getGameVersion
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameVersion'
        500:
          description: 失敗
  /games/asset/{gameID}/file:
    parameters:
      - $ref: '#/components/parameters/gameID'
    post:
      tags:
        - game
      summary: ゲームの最新バージョンへのファイルの追加
      security:
        - TrapMemberAuth:
            - read
        - GameMaintainerAuth: []
      operationId: postFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewGameFile'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameFile'
        400:
          description: 既に同じタイプのファイルがある
        500:
          description: 失敗
    get:
      tags:
        - game
      summary: ゲームの最新バージョンのファイルの取得
      security:
        - TrapMemberAuth:
            - read
        - LauncherAuth: []
      operationId: getGameFile
      parameters:
        - $ref: '#/components/parameters/gameID'
        - $ref: '#/components/parameters/operatingSystem'
      responses:
        200:
          description: 成功
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        500:
          description: 失敗
  /games/asset/{gameID}/url:
    parameters:
      - $ref: '#/components/parameters/gameID'
    post:
      tags:
        - game
      summary: ゲームの最新バージョンへのURLの追加
      security:
        - TrapMemberAuth:
            - read
        - GameMaintainerAuth: []
      operationId: postURL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGameURL'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameURL'
        400:
          description: 既に同じタイプのファイルがある
        500:
          description: 失敗
    get:
      tags:
        - game
      summary: ゲームの最新バージョンのURLの取得
      security:
        - TrapMemberAuth:
            - read
        - LauncherAuth: []
      operationId: getGameURL
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: string
        500:
          description: 失敗
  /versions:
    post:
      tags:
        - version
      summary: 新しいバージョンの作成
      security:
        - TrapMemberAuth:
            - read
        - AdminAuth: []
      operationId: postVersion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewVersion'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionMeta'
        500:
          description: 失敗
    get:
      tags:
        - version
      summary: バージョン一覧の取得
      security:
        - TrapMemberAuth:
            - read
      operationId: getVersions
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Version'
        500:
          description: 失敗
  /versions/{launcherVersionID}:
    parameters:
      - $ref: '#/components/parameters/launcherVersionID'
    get:
      tags:
        - version
      summary: バージョンの詳細情報の取得
      security:
        - TrapMemberAuth:
            - read
        - LauncherAuth: []
      operationId: getVersion
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionDetails'
        500:
          description: 失敗
  /versions/{launcherVersionID}/game:
    parameters:
      - $ref: '#/components/parameters/launcherVersionID'
    post:
      tags:
        - version
      summary: バージョンへのゲームの追加
      security:
        - TrapMemberAuth:
            - read
        - AdminAuth: []
      operationId: postGameToVersion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                description: ゲームのUUID
                type: string
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        500:
          description: 失敗
  /versions/check:
    get:
      tags:
        - version
      summary: ブラウザゲーム以外のゲームのID、MD5、ゲームの種類、更新日の一覧
      security:
        - LauncherAuth: []
      operationId: getCheckList
      parameters:
        - $ref: '#/components/parameters/sessions'
        - $ref: '#/components/parameters/operatingSystem'
      responses:
        200:
          description: 成功時のレスポンス
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckItem'
        500:
          description: 失敗時のレスポンス
  /versions/question:
    get:
      tags:
        - version
      summary: 質問の取得
      security:
        - TrapMemberAuth:
            - read
        - LauncherAuth: []
      operationId: getQuestions
      parameters:
        - $ref: '#/components/parameters/sessions'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Question'
        500:
          description: 失敗
  /questions:
    post:
      tags:
        - question
      summary: 質問を作成
      security:
        - TrapMemberAuth:
            - read
        - AdminAuth: []
      operationId: postQuestion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/NewQuestion'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Question'
        500:
          description: 失敗
  /questions/{questionID}:
    parameters:
      - $ref: '#/components/parameters/questionID'
    delete:
      tags:
        - question
      summary: 質問の削除
      security:
        - TrapMemberAuth:
            - read
        - AdminAuth: []
      operationId: deleteQuestion
      responses:
        200:
          description: 成功
        500:
          description: 失敗
  /responses:
    post:
      tags:
        - response
      summary: 新しい回答を作成します．
      security:
        - LauncherAuth: []
      operationId: postResponse
      parameters:
        - $ref: '#/components/parameters/sessions'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewResponse'
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewResponse'
        500:
          description: 失敗
  /responses/{launcherVersionID}:
    parameters:
      - $ref: '#/components/parameters/launcherVersionID'
    get:
      tags:
        - response
      summary: 回答の統計情報を取得
      security:
        - TrapMemberAuth:
            - read
      operationId: getResponse
      parameters:
        - name: require
          in: query
          required: false
          description: 指定の要素のみ返す。指定なしではすべての要素を返す。（answer,game,remark）
          schema:
            type: string
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCalc'
        500:
          description: 失敗
  /seats/{seatID}:
    parameters:
      - $ref: '#/components/parameters/seatID'
    post:
      tags:
        - seat
      summary: 着席
      security:
        - TrapMemberAuth:
            - read
      operationId: postFixSeat
      responses:
        200:
          description: 成功
        500:
          description: 失敗
    delete:
      tags:
        - seat
      summary: 離席
      security:
        - TrapMemberAuth:
            - read
      operationId: deleteFixSeat
      responses:
        200:
          description: 成功
        500:
          description: 失敗
  /seats:
    get:
      tags:
        - seat
      summary: 席の状態の取得
      security:
        - TrapMemberAuth:
            - read
      operationId: getSeat
      responses:
        200:
          description: 成功
          content:
            application/json:
              schema:
                description: 状態inの席の一覧を取得します。
                type: array
                items:
                  type: integer
                  description: 埋まっている席のIDの一覧
        500:
          description: 失敗
    post:
      tags:
        - seat
      summary: 着席
      security:
        - LauncherAuth: []
      operationId: postSeat
      parameters:
        - $ref: '#/components/parameters/sessions'
      responses:
        200:
          description: 成功
        500:
          description: 失敗
    delete:
      tags:
        - seat
      summary: 離席
      security:
        - LauncherAuth: []
      operationId: deleteSeat
      parameters:
        - $ref: '#/components/parameters/sessions'
      responses:
        200:
          description: 成功
        500:
          description: 失敗

components:
  securitySchemes:
    TrapMemberAuth:
      type: oauth2
      description: traQのOAuth
      flows:
        authorizationCode:
          authorizationUrl: https://q.trap.jp/api/1.0/oauth2/authorize
          tokenUrl: https://q.trap.jp/api/1.0/oauth2/token
          scopes:
            read: traQの読み取り権限
    GameMaintainerAuth:
      type: apiKey
      description: ゲーム管理者の認証
      in: cookie
      name: userId
    GameOwnerAuth:
      type: apiKey
      description: ゲーム管理者の認証
      in: cookie
      name: userID
    AdminAuth:
      type: apiKey
      description: ランチャー管理者の認証
      in: cookie
      name: userID
    LauncherAuth:
      type: http
      description: ランチャーの認証
      scheme: basic
  parameters:
    sessions:
      name: sessions
      in: cookie
      required: false
      schema:
        type: string
    userID:
      name: userID
      in: cookie
      required: true
      schema:
        type: string
    userName:
      name: userName
      in: cookie
      required: true
      schema:
        type: string
    versionID:
      name: versionID
      in: cookie
      required: false
      schema:
        type: integer
    operatingSystem:
      name: operatingSystem
      description: osのパラメーター(mac,windows)
      in: query
      required: true
      schema:
        type: string
    accessToken:
      name: accessToken
      in: cookie
      required: true
      schema:
        type: string
    launcherVersionID:
      name: launcherVersionID
      in: path
      description: ランチャーのバージョンのID
      required: true
      schema:
        type: integer
    gameID:
      description: ゲームのUUID
      name: gameID
      in: path
      required: true
      schema:
        type: string
    gameVersionID:
      description: ゲームのバージョンのID
      name: gameVersionID
      in: path
      required: true
      schema:
        type: integer
    questionID:
      description: 質問のID
      name: questionID
      in: path
      required: true
      schema:
        type: integer
    responseID:
      description: 回答のUUID
      name: responseID
      in: path
      required: true
      schema:
        type: string
    seatID:
      description: 席のID
      name: seatID
      in: path
      required: true
      schema:
        type: integer
  schemas:
    User:
      description: ユーザー
      type: object
      properties:
        id:
          description: traQのID（UUID）
          type: string
          example: mazrean
        name:
          description: traQID（UUIDでない方）
          type: string
          example: eb4a287d-15d9-4f12-8fff-bd088b12ba80
    CheckItem:
      type: object
      description: ゲームの更新・破損のチェック用リスト
      properties:
        id:
          type: string
          example: eb4a287d-15d9-4f12-8fff-bd088b12ba80
        md5:
          type: string
          example: 58ad520a63a9cc3e088155d79e8f2eec
        type:
          description: ゲームの種類（url,jar,windows,mac）
          type: string
          example: url
        bodyUpdatedAt:
          description: ゲーム本体の更新日時
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
        imgUpdatedAt:
          description: 画像の更新日時
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
        movieUpdatedAt:
          description: 動画の更新日時
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
    NewGameMeta:
      description: 新しいゲームの名前
      type: object
      properties:
        name:
          description: 修正後のゲームの名前
          type: string
          example: 'after_game_name'
        description:
          description: 修正後のゲームの説明文
          type: string
          example: 'before_game_name'
    GameMeta:
      description: ゲーム名とID
      type: object
      properties:
        id:
          description: 追加されたゲームのUUID
          type: string
          example: 'eb4a287d-15d9-4f12-8fff-bd088b12ba80'
        name:
          description: 追加されたゲームの名前
          type: string
          example: 'Flythm'
        description:
          description: 追加されたゲームの説明
          type: string
          example: 弾幕ゲーです。みんなやってね！
        createdAt:
          description: ゲームの追加された時刻
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
    Game:
      description: ゲーム
      type: object
      properties:
        id:
          description: ゲームのUUID
          type: string
          example: eb4a287d-15d9-4f12-8fff-bd088b12ba80
        name:
          description: ゲーム名
          type: string
          example: 'Flythm'
        createdAt:
          description: ゲームの登録時刻
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
        version:
          description: ゲームの最新バージョン
          $ref: '#/components/schemas/GameVersion'
    NewGameVersion:
      description: 新しいゲームのバージョン
      type: object
      properties:
        name:
          description: 名前
          type: string
          example: 'Flythm'
        description:
          description: バージョンの説明
          type: string
          example: ダッシュ機能追加した
    GameVersion:
      description: ゲームのバージョン
      type: object
      properties:
        id:
          description: ID
          type: integer
          example: 0
        name:
          description: 名前
          type: string
          example: v1.0.0
        description:
          description: バージョンの説明
          type: string
          example: ダッシュ機能追加した
        createdAt:
          description: 登録時刻
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
    GameVersionWithAssets:
      description: アセット入のゲームのバージョン
      type: object
      properties:
        id:
          description: ID
          type: integer
          example: 0
        name:
          description: 名前
          type: string
          example: 'Flythm'
        description:
          description: バージョンの説明
          type: string
          example: ダッシュ機能追加した
        createdAt:
          description: 登録時刻
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
    NewGameFile:
      description: 新しいゲームのファイル
      type: object
      properties:
        type:
          description: ゲームの種類（jar,windows,mac）
          type: string
          example: jar
        file:
          description: ゲームのファイル
          type: string
          format: binary
    NewGameURL:
      description: 新しいゲームのURL
      type: object
      properties:
        url:
          description: URL
          type: string
    GameAsset:
      description: ゲームのファイル・URLの情報
      type: object
      properties:
        id:
          description: アセットのID
          type: integer
          example: 0
        type:
          description: ゲームの種類（url,jar,windows,mac）
          type: string
          example: url
        url:
          description: ゲームのURL（タイプがURL以外のときはなし）
          type: string
          example: 'https://flythm.trap.games/'
    GameFile:
      description: ゲームのファイルの情報
      type: object
      properties:
        id:
          description: アセットのID
          type: integer
          example: 1
        type:
          description: ゲームの種類（jar,windows,mac）
          type: string
          example: jar
    GameURL:
      description: ゲームのURLの情報
      type: object
      properties:
        id:
          description: アセットのID
          type: integer
          example: 1
        url:
          description: ゲームのURL（タイプがURL以外のときはなし）
          type: string
          example: https://flythm.trap.games/
    NewVersion:
      description: 新しいランチャーのバージョンの名前
      type: object
      properties:
        name:
          description: バージョンの名前
          type: string
          example: ko-daisai
    Version:
      description: ランチャーのバージョン
      type: object
      properties:
        id:
          description: ID
          type: integer
          example: 1
        name:
          description: 名前
          type: string
          example: ko-daisai
        games:
          type: array
          items:
            description: 入れるゲームのUUID
            type: string
            example: eb4a287d-15d9-4f12-8fff-bd088b12ba80
        createdAt:
          description: 登録時刻
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
    VersionMeta:
      description: ランチャーのバージョンの簡易的な情報
      type: object
      properties:
        id:
          description: ID
          type: integer
          example: 1
        name:
          description: 名前
          type: string
          example: ko-daisai
        createdAt:
          description: 登録時刻
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
    VersionDetails:
      description: ランチャーのバージョン詳細
      type: object
      properties:
        id:
          description: ID
          type: integer
          example: 1
        name:
          description: 名前
          type: string
          example: Flythm
        games:
          type: array
          items:
            description: 入れるゲームのUUID
            type: string
            example: eb4a287d-15d9-4f12-8fff-bd088b12ba80
        questions:
          type: array
          items:
            $ref: '#/components/schemas/Question'
        createdAt:
          description: 登録時刻
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
    NewQuestion:
      description: 新しい質問
      type: object
      properties:
        versionId:
          description: 質問を追加するランチャーのバージョンのID
          type: integer
          example: 1
        type:
          description: 質問の種類（radio,checkbox,text）
          type: string
          example: radio
        content:
          description: 質問文
          type: string
          example: 使っていて不快だった点はありますか？
        options:
          description: 選択肢（種類がtextのときはなし）
          type: array
          items:
            type: string
            example: 'ある'
        required:
          description: 回答が必須かどうか
          type: boolean
          example: true
    Question:
      type: object
      description: 質問
      properties:
        id:
          description: 質問のID
          type: integer
          example: 1
        type:
          description: 質問の種類
          type: string
          example: radio
        content:
          description: 質問文
          type: string
          example: 使っていて不快だった点はありますか？
        options:
          description: 選択肢（typeがtextの場合は空）
          type: array
          items:
            $ref: '#/components/schemas/QuestionOption'
        required:
          description: 回答が必須か
          type: boolean
          example: true
        createdAt:
          description: 質問の作成時刻
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
    QuestionOption:
      type: object
      description: 質問の選択肢
      properties:
        id:
          description: 選択肢のid
          type: integer
          example: 1
        label:
          description: 選択肢のラベル
          type: string
          example: はい
    NewResponse:
      type: object
      description: 新しい回答
      properties:
        id:
          description: クライアントのUUID
          type: string
          example: eb4a287d-15d9-4f12-8fff-bd088b12ba80
        answers:
          description: バージョンごとの質問に対する回答
          type: array
          items:
            $ref: '#/components/schemas/Answer'
        gameRatings:
          description: ゲームに対する評価
          type: array
          items:
            $ref: '#/components/schemas/GameRating'
        remark:
          description: 自由記述欄
          type: string
          example: 特に何もありません
    Response:
      description: 回答
      type: object
      properties:
        id:
          description: クライアントのUUID
          type: string
          example: eb4a287d-15d9-4f12-8fff-bd088b12ba80
        answers:
          description: バージョンごとの質問に対する回答
          type: array
          items:
            $ref: '#/components/schemas/Answer'
        gameRatings:
          description: ゲームに対する評価
          type: array
          items:
            $ref: '#/components/schemas/GameRating'
        remark:
          description: 自由記述欄
          type: string
          example: 特に何もありません
        createdAt:
          description: 回答時刻
          type: string
          format: date-time
          example: '2019-09-25T09:51:31Z'
    ResponseCalc:
      type: object
      description: 回答
      properties:
        id:
          description: クライアントのUUID
          type: string
          example: eb4a287d-15d9-4f12-8fff-bd088b12ba80
        answer:
          $ref: '#/components/schemas/AnswerCalc'
        game:
          $ref: '#/components/schemas/GameCalc'
        remark:
          description: 自由記述欄
          type: array
          items:
            type: string
            example: 特に何もありません
    Answer:
      type: object
      description: バージョンごとの質問に対する回答
      properties:
        id:
          description: 質問のID
          type: integer
          example: 1
        contents:
          description: 回答の配列（チェックボックスの場合のみ複数）
          type: object
          properties:
            text:
              description: 質問のtypeがtextのとき
              type: string
              example: 面白かった
            options:
              description: 質問のtypeがtext以外のとき
              type: array
              items:
                description: 選択肢のid
                type: integer
                example: 0
    AnswerCalc:
      type: object
      description: 質問に対する回答の統計
      properties:
        id:
          description: 質問のID
          type: integer
          example: 1
        contents:
          description: それぞれの回答とその回答数
          type: array
          items:
            type: object
            properties:
              answer:
                type: string
                example: 面白かった
              num:
                type: integer
                example: 5
    GameRating:
      type: object
      description: ゲームの評価
      properties:
        id:
          description: ゲームのUUID
          type: string
        rate:
          description: 星の数
          maximum: 5
          minimum: 1
          type: number
          format: double
          example: 2.5
        time:
          description: プレイ時間(ms)
          type: integer
          example: 500000
    GameCalc:
      type: object
      description: ゲームの評価の統計
      properties:
        id:
          description: ゲームのUUID
          type: string
          example: eb4a287d-15d9-4f12-8fff-bd088b12ba80
        rate:
          description: 星の数
          type: array
          items:
            type: object
            properties:
              star:
                type: integer
                example: 5
              num:
                type: integer
                example: 5
        rateAve:
          description: 星の数の平均
          type: integer
          example: 3
        time:
          description: プレイ時間(ms)の平均
          type: integer
          example: 500000
    Owner:
      type: object
      properties:
        id:
          description: traQID（UUID）
          type: string
        name:
          description: traQID（UUIDでない方）
          type: string
        role:
          description: 権限（0:ゲームの更新の権限のみ,1:ゲームの更新と更新権限を持つ使途の追加の権限を持つ）
          type: integer
