{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"net/http"

	echo "github.com/labstack/echo/v4"
){{#operation}}

// {{nickname}}
func {{nickname}}(c echo.Context) error {
	return c.JSON(http.StatusOK, []string{})
}{{/operation}}{{/operations}}
