## Go API Server for {{packageName}}

{{#appDescription}}
{{{appDescription}}}
{{/appDescription}}

- API version: {{appVersion}}{{^hideGenerationTimestamp}}
- Build date: {{generatedDate}}{{/hideGenerationTimestamp}}
{{#infoUrl}}
For more information, please visit [{{{infoUrl}}}]({{{infoUrl}}})
{{/infoUrl}}

### Mockの再生成
swaggerを書き換えたら必ず再生成してください。
プロジェクトルートで
```bash
$ sudo docker run --rm \
		-v ${PWD}:/local openapitools/openapi-generator-cli generate \
		-i /local/docs/swagger/openapi.yml \
		-t /local/generate/mock \
		-g go-gin-server \
		-o /local/mock
```

### コードの書き換え
`mock/go/api-*.go`以外は書き換えないでください。
その他の修正が必要な場合は`generate/mock`、`docs/swagger`
