{{>partial_header}}
package {{packageName}}

import (
	"strings"

	echo "github.com/labstack/echo/v4"
)

// Route is the information for every URI.
type Route struct {
	// Name is the name of this Route.
	Name        string
	// Method is the string for the HTTP method. ex) GET, POST etc..
	Method      string
	// Pattern is the pattern of the URI.
	Pattern     string
	// HandlerFunc is the handler function of this route.
	HandlerFunc echo.HandlerFunc
}

// Routes is the list of the generated Route.
type Routes []Route

//SetupRouting ルーティング
func SetupRouting(e *echo.Echo) {
	for _, route := range routes {
		switch route.Method {
		case "GET":
			e.GET(route.Pattern, route.HandlerFunc)
		case "POST":
			e.POST(route.Pattern, route.HandlerFunc)
		case "PUT":
			e.PUT(route.Pattern, route.HandlerFunc)
		case "DELETE":
			e.DELETE(route.Pattern, route.HandlerFunc)
		}
	}
}

var routes = Routes{ {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
	{
		"{{operationId}}",
		strings.ToUpper("{{httpMethod}}"),
		"{{{basePathWithoutHost}}}{{{path}}}",
		{{operationId}},
	},
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
}
