openapi: "3.0.3"
servers:
  - url: https://collection.trap.jp/api/v2
  - url: https://collection-dev.trapti.tech/api/v2
  - url: http://localhost:3000/api/v2
info:
  description: 'traP Collection v2'
  version: '2.0.0'
  title: 'traP Collection v2'
  contact:
    name: traP
    url: 'https://github.com/traPtitech/trap-collection-server'
tags:
  - name: oauth2
    description: |
      OAuth 2.0を利用しての管理画面の認証を行うAPIです。
  - name: user
    description: |
      管理画面のユーザー関連のAPIです。
  - name: admin
    description: |
      traP Collection全体の管理者関連のAPIです。
  - name: game
    description: |
      ゲーム関連のAPIです。
  - name: gameRole
    description: |
      ゲームの操作権限関連のAPIです。
  - name: gameVersion
    description: |
      ゲームのバージョン関連のAPIです。
  - name: gameFile
    description: |
      ゲームのファイル関連のAPIです。
  - name: gameImage
    description: |
      ゲームの画像関連のAPIです。
  - name: gameVideo
    description: |
      ゲームのビデオ関連のAPIです。
  - name: launcherVersion
    description: |
      ランチャーのバージョン関連のAPIです。
  - name: launcherAuth
    description: |
      ランチャーの認証関連のAPIです。
  - name: seat
    description: |
      席管理関連のAPIです。

paths:
  # oauth2
  /oauth2/callback:
    parameters:
      - $ref: '#/components/parameters/authorizationCodeInQuery'
    get:
      tags:
        - oauth2
      operationId: getCallback
      responses:
        "200":
          description: |
            認証が成功した場合に返されます。
            セッションにユーザー情報が保存され、セッションが切れるまでログイン状態になります。
            また、Code Challengeなどは削除されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            セッション、またはAuthorization Codeになんらかの誤りがあり、
            認証に失敗した場合に返されます。
            誤りの内容はレスポンスのmessageに出力されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: traQのOAuth 2.0のコールバック
      description: |
        traQ上での認証後にtraQから
        Authorization Codeがクエリパラメーターにつけられて、
        リダイレクトされます。
  /oauth2/code:
    get:
      tags:
        - oauth2
      operationId: getCode
      responses:
        "303":
          headers:
            Set-Cookie:
              schema: 
                type: string
                example: sessions=abcd1234; Path=/; Expires=Wed, 04 May 2022 16:24:11 GMT; Max-Age=2592000; HttpOnly; Secure
            Location:
              schema:
                type: string
                example: https://q.trap.jp/api/v3/oauth2/authorize?response_type=code&client_id=<ClientID>&code_challenge=<Code Challenge>&code_challenge_method=S256
          description: |
            セッションの設定などに成功した場合に返されます。
            traQの認可ページにリダイレクトされます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: OAuth 2.0のCode Verifierなどのセッションへの設定とtraQへのリダイレクト
      description: |
        OAuth 2.0を利用しての認証に必要なPKCEのCode Verifierを生成し、
        セッションに設定した上でCode ChallengeやClientIDなどを設定したtraQのURLへリダイレクトします。
  /oauth2/logout:
    post:
      tags:
        - oauth2
      security:
        - TrapMemberAuth: []
      operationId: postLogout
      responses:
        "200":
          description: |
            ログアウトに成功した場合に返されます。
            セッションが削除されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            セッションになんらかの誤りがあり、
            認証に失敗した場合に返されます。
            誤りの内容はレスポンスのmessageに出力されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: traP Collectionの管理画面からのログアウト
      description: |
        traP Collectionの管理画面からログアウトします。
        成功するとセッションが削除されます。

  # user
  /users/me:
    get:
      tags:
        - user
      security:
        - TrapMemberAuth: []
      operationId: getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: |
            自分の情報の取得に成功した際に返されます。
            レスポンスでログインしているユーザーの情報が返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ログイン中ユーザーの情報の取得
      description: |
        ログイン中のユーザーの情報を取得します。
  /users:
    get:
      tags:
        - user
      security:
        - TrapMemberAuth: []
      operationId: getUsers
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: traPのメンバー一覧取得
      description: |
        traPのアクティブメンバーの一覧を取得します。

  # game
  /games:
    post:
      tags:
        - game
      security:
        - TrapMemberAuth: []
      operationId: postGame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGame'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostGameResponse'
          description: |
            ゲームの追加に成功した際に返されます。
            レスポンスで新しく追加されたゲームの情報が返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームの追加
      description: |
        新しくゲームを追加します。
        このエンドポイントを叩いたユーザーは
        自動的にownerとなります。
    get:
      tags:
        - game
      security:
        - TrapMemberAuth: []
      parameters:
        - name: all
          in: query
          required: false
          schema:
            type: boolean
          description: |
            trueを指定すると、全てのゲーム、
            falseを指定すると、ログイン中のユーザーが作成したゲームのみを返します。
            デフォルトはtrueです。
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: |
            取得するゲームの上限数を指定します。
            指定なしの場合は制限なしです。
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: |
            取得するゲームの開始位置を指定します。
            指定なしの場合は0となります。
      operationId: getGames
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGamesResponse'
          description: |
            ゲームの一覧の取得に成功した際に返されます。
            レスポンスで取得したゲームの一覧と条件を満たすゲームの数が返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲーム一覧の取得
      description: |
        ゲームの一覧を取得します。
        作成時刻での降順で結果が返されます。
  /games/{gameID}:
    parameters:
      - $ref: '#/components/parameters/gameIDInPath'
    get:
      tags:
        - game
      security:
        - TrapMemberAuth: []
        - LauncherGameAuth: []
      operationId: getGame
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
          description: |
            ゲームの情報の取得に成功した際に返されます。
            レスポンスで取得したゲームの情報が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ゲームIDが不正な値である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲーム情報の取得
      description: |
        指定したゲームIDのゲームの情報を取得します。
    patch:
      tags:
        - game
      security:
        - GameMaintainerAuth: []
      operationId: putGame
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchGame'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
          description: |
            ゲームの情報の修正に成功した際に返されます。
            レスポンスで修正後のゲームの情報が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ゲームID、またはリクエストが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームの情報の修正
      description: |
        指定したゲームIDのゲームの情報を修正します。
    delete:
      tags:
        - game
      security:
        - GameOwnerAuth: []
      operationId: deleteGames
      responses:
        "200":
          description: |
            ゲームの削除に成功した際に返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ゲームIDが不正な値である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームの削除
      description: |
        指定したゲームIDのゲームを削除します。

  # gameRole
  /games/{gameID}/roles:
    parameters:
      - $ref: '#/components/parameters/gameIDInPath'
    post:
      tags:
        - gameRole
      security:
        - GameOwnerAuth: []
      operationId: postGameRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GameRole'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameRole'
          description: |
            ゲームのロールの作成に成功した際に返されます。
            レスポンスでロールを作成したゲームのowner、maintainerの一覧が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ゲームID、またはリクエストが不正である場合に返されます。
            既にmaintainerまたはownerとなっているユーザーが含まれる場合にも返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームの管理権限の追加
      description: |
        指定したゲームIDのゲームにowner・maintainerを追加します。
    delete:
      tags:
        - gameRole
      security:
        - GameOwnerAuth: []
      operationId: deleteGameRole
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GameRole'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameRoleResponse'
          description: |
            ゲームの管理権限の削除に成功した際に返されます。
            レスポンスで管理権限を削除したゲームのowner、maintainerの一覧が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ゲームID、またはリクエストが不正である場合に返されます。
            指定されたユーザーのうち1人でもownerまたはmaintainerでない場合にも返されます。
            また、管理権限が削除されるとownerが1人もいなくなる場合にも返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームの管理権限の削除
      description: |
        指定したゲームIDのゲームからowner・maintainerを削除します。

  # gameVersion
  /games/{gameID}/versions:
    parameters:
      - $ref: '#/components/parameters/gameIDInPath'
    post:
      tags:
        - gameVersion
      security:
        - GameMaintainerAuth: []
      operationId: postGameVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGameVersion'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameVersion'
          description: |
            ゲームのバージョンの作成に成功した際に返されます。
            レスポンスで作成したゲームのバージョンが返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ゲームID、またはリクエストが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームのバージョンの作成
      description: |
        指定したゲームIDのゲームにバージョンを作成します。
    get:
      tags:
        - gameVersion
      security:
        - TrapMemberAuth: []
      operationId: getGameVersion
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: |
            取得するゲームバージョンの上限数を指定します。
            指定なしの場合は制限なしです。
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: |
            取得するゲームバージョンの開始位置を指定します。
            指定なしの場合は0となります。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGameVersionsResponse'
          description: |
            ゲームバージョン一覧の取得に成功した際に返されます。
            レスポンスで取得したゲームバージョンの一覧が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ゲームIDが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームバージョン一覧の取得
      description: |
        指定したゲームIDのゲームのバージョン一覧を取得します。
        作成時刻での降順で結果が返されます。
  /games/{gameID}/versions/latest:
    parameters:
      - $ref: '#/components/parameters/gameIDInPath'
    get:
      tags:
        - gameVersion
      security:
        - TrapMemberAuth: []
      operationId: getLatestGameVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameVersion'
          description: |
            ゲームの最新バージョンの取得に成功した際に返されます。
            レスポンスで取得したゲームの最新バージョンが返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ゲームIDが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームが存在しない、または削除されている場合に返されます。
            また、API v1で追加され、バージョンが存在しないゲームであった場合にも返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームの最新バージョンの取得
      description: |
        指定したゲームIDのゲームの最新バージョンを取得します。

  # gameFile
  /games/files:
    post:
      tags:
        - gameFile
      security:
        - TrapMemberAuth: []
      operationId: postGameFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewGameFile'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameFile'
          description: |
            ゲームファイルの作成に成功した際に返されます。
            レスポンスで作成したゲームファイルのメタ情報が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            リクエストが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームファイルが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームファイルの作成
      description: |
        指定したゲームIDのゲームにファイルを作成します。
        作成したゲームファイルは、1日以内にゲームバージョンと紐づけられない場合自動で削除されます。
  /games/files/{gameFileID}:
    parameters:
      - $ref: '#/components/parameters/gameFileIDInPath'
    get:
      tags:
        - gameFile
      security:
        - TrapMemberAuth: []
        - LauncherGameFileAuth: []
      operationId: getGameFile
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/GameFileContent'
          description: |
            ゲームファイルの取得に成功した際に返されます。
            レスポンスで取得したゲームファイルのバイナリが返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ファイルIDが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームファイルが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームファイルのバイナリの取得
      description: |
        指定したゲームファイルIDのゲームファイルを取得します。
  /games/files/{gameFileID}/meta:
    parameters:
      - $ref: '#/components/parameters/gameFileIDInPath'
    get:
      tags:
        - gameFile
      security:
        - TrapMemberAuth: []
        - LauncherGameFileAuth: []
      operationId: getGameFileMeta
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameFile'
          description: |
            ゲームファイルのメタ情報の取得に成功した際に返されます。
            レスポンスで取得したゲームファイルのメタ情報が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            ファイルIDが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲームファイルが存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲームファイルのメタ情報の取得
      description: |
        指定したゲームファイルIDのゲームファイルを取得します。

  # gameImage
  /games/images:
    post:
      tags:
        - gameImage
      security:
        - TrapMemberAuth: []
      operationId: postGameImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewGameImage'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameImage'
          description: |
            ゲーム画像の作成に成功した際に返されます。
            レスポンスで作成したゲーム画像のメタ情報が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            リクエストが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲーム画像が存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲーム画像の作成
      description: |
        指定したゲームIDのゲームに画像を作成します。
        作成したゲーム画像は、1日以内にゲームバージョンと紐づけられない場合に自動で削除されます。
  /games/images/{gameImageID}:
    parameters:
      - $ref: '#/components/parameters/gameImageIDInPath'
    get:
      tags:
        - gameImage
      security:
        - TrapMemberAuth: []
        - LauncherGameImageAuth: []
      operationId: getGameImage
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/GameImageContent'
          description: |
            ゲーム画像の取得に成功した際に返されます。
            レスポンスで取得したゲーム画像のバイナリが返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            画像IDが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲーム画像が存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲーム画像のバイナリの取得
      description: |
        指定したゲーム画像IDのゲーム画像を取得します。
  /games/images/{gameImageID}/meta:
    parameters:
      - $ref: '#/components/parameters/gameImageIDInPath'
    get:
      tags:
        - gameImage
      security:
        - TrapMemberAuth: []
        - LauncherGameImageAuth: []
      operationId: getGameImageMeta
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameImage'
          description: |
            ゲーム画像のメタ情報の取得に成功した際に返されます。
            レスポンスで取得したゲーム画像のメタ情報が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            画像IDが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲーム画像が存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲーム画像のメタ情報の取得
      description: |
        指定したゲーム画像IDのゲーム画像のメタ情報を取得します。

  # gameVideo
  /games/videos:
    post:
      tags:
        - gameVideo
      security:
        - TrapMemberAuth: []
      operationId: postGameVideo
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewGameVideo'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameVideo'
          description: |
            ゲーム動画の作成に成功した際に返されます。
            レスポンスで作成したゲーム動画のメタ情報が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            リクエストが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲーム動画が存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲーム動画の作成
      description: |
        指定したゲームIDのゲームに動画を作成します。
        作成したゲーム動画は、1日以内にゲームバージョンと紐づけられない場合に自動で削除されます。
  /games/videos/{gameVideoID}:
    parameters:
      - $ref: '#/components/parameters/gameVideoIDInPath'
    get:
      tags:
        - gameVideo
      security:
        - TrapMemberAuth: []
        - LauncherGameVideoAuth: []
      operationId: getGameVideo
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/GameVideoContent'
          description: |
            ゲーム動画の取得に成功した際に返されます。
            レスポンスで取得したゲーム動画のバイナリが返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            動画IDが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲーム動画が存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲーム動画のバイナリの取得
      description: |
        指定したゲーム動画IDのゲーム動画を取得します。
  /games/videos/{gameVideoID}/meta:
    parameters:
      - $ref: '#/components/parameters/gameVideoIDInPath'
    get:
      tags:
        - gameVideo
      security:
        - TrapMemberAuth: []
        - LauncherGameVideoAuth: []
      operationId: getGameVideoMeta
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameVideo'
          description: |
            ゲーム動画のメタ情報の取得に成功した際に返されます。
            レスポンスで取得したゲーム動画のメタ情報が返されます。
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            動画IDが不正である場合に返されます。
        "401":
          $ref: '#/components/responses/TraPUnauthorized'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            指定したIDのゲーム動画が存在しない、または削除されている場合に返されます。
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: ゲーム動画のメタ情報の取得
      description: |
        指定したゲーム動画IDのゲーム動画のメタ情報を取得します。

components:
  responses:
    TraPUnauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: |
        traQのOAuth 2.0での認証がされていない、
        もしくは認証したが既にセッションが切れている場合に返されます。
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: |
        何らかの予期しないエラーが発生した場合に返されます。
        このレスポンスが返された場合、サーバーのバグやインフラの障害の可能性が高いです。
  securitySchemes:
    TrapMemberAuth:
      type: apiKey
      in: cookie
      name: sessions
      description: |
        traQのOAuth 2.0を利用してのログインをすでにしている場合のみアクセスできます。
        ユーザーがtraQで凍結された場合、1日以内に反映されます。
    GameMaintainerAuth:
      type: apiKey
      in: cookie
      name: sessions
      description: |
        ゲームのmaintainer以上の権限を持っている、
        またはtraP Collectionの管理者である場合のみアクセスできます。
        ユーザーがtraQで凍結された場合、1日以内に反映されます。
    GameOwnerAuth:
      type: apiKey
      in: cookie
      name: sessions
      description: |
        ゲームのowner以上の権限を持っている、
        またはtraP Collectionの管理者である場合のみアクセスできます。
        ユーザーがtraQで凍結された場合、1日以内に反映されます。
    AdminAuth:
      type: apiKey
      in: cookie
      name: sessions
      description: |
        traP Collectionの管理者である場合のみアクセスできます。
        ユーザーがtraQで凍結された場合、1日以内に反映されます。
    LauncherAuth:
      type: http
      scheme: bearer
      description: |
        ランチャーのプロダクトキーを利用して得られるアクセストークンを利用した認証です。
        アクセストークンが正しく、有効期限が切れていない場合にのみアクセスできます。
        プロダクトキーがrevokeされた場合、即座に反映されます。
    LauncherGameAuth:
      type: http
      scheme: bearer
      description: |
        ランチャーのプロダクトキーを利用して得られるアクセストークンを利用した認証です。
        アクセストークンから得られるランチャーのバージョンに、
        ゲームIDで指定されたゲームが含まれる場合のみアクセスできます。
        プロダクトキーがrevokeされた場合、即座に反映されます。
    LauncherGameFileAuth:
      type: http
      scheme: bearer
      description: |
        ランチャーのプロダクトキーを利用して得られるアクセストークンを利用した認証です。
        アクセストークンから得られるランチャーのバージョンに、
        ファイルIDで指定されたファイルに対応するゲームが含まれる場合のみアクセスできます。
        プロダクトキーがrevokeされた場合、即座に反映されます。
    LauncherGameImageAuth:
      type: http
      scheme: bearer
      description: |
        ランチャーのプロダクトキーを利用して得られるアクセストークンを利用した認証です。
        アクセストークンから得られるランチャーのバージョンに、
        画像IDで指定された画像に対応するゲームが含まれる場合のみアクセスできます。
        プロダクトキーがrevokeされた場合、即座に反映されます。
    LauncherGameVideoAuth:
      type: http
      scheme: bearer
      description: |
        ランチャーのプロダクトキーを利用して得られるアクセストークンを利用した認証です。
        アクセストークンから得られるランチャーのバージョンに、
        動画IDで指定された動画に対応するゲームが含まれる場合のみアクセスできます。
        プロダクトキーがrevokeされた場合、即座に反映されます。
  parameters:
    authorizationCodeInQuery:
      name: code
      in: query
      required: true
      schema:
        type: string
      description: |
        OAuth 2.0のAuthorization Codeです。
    operatingSystemInQuery:
      name: operatingSystem
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/OperatingSystem'
      description: |
        OSの種類を示すクエリパラメータです。
    launcherVersionIDInPath:
      name: launcherVersionID
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: |
        ランチャーのバージョンのIDを示すパスパラメータです。
    gameIDInPath:
      name: gameID
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/GameID'
      description: |
        ゲームのIDを示すパスパラメータです。
    gameFileIDInPath:
      name: gameFileID
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/GameFileID'
      description: |
        ゲームのファイルのIDを示すパスパラメータです。
    gameImageIDInPath:
      name: gameImageID
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/GameImageID'
      description: |
        ゲームの画像のIDを示すパスパラメータです。
    gameVideoIDInPath:
      name: gameVideoID
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/GameVideoID'
      description: |
        ゲームの動画のIDを示すパスパラメータです。
    productKeyIDInPath:
      name: productKeyID
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: |
        ランチャーのプロダクトキーのIDを示すパスパラメータです。
    seatIDInPath:
      name: seatID
      in: path
      required: true
      schema:
        type: integer
      description: |
        席のIDを示すパスパラメータです。
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          example: Internal Server Error
      required:
        - message
    OperatingSystem:
      type: string
      enum:
        - win32
        - darwin
    PostGameResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/Game'
        - type: object
          properties:
            version:
              $ref: '#/components/schemas/GameVersion'
          required:
            - latestVersion
          description: |
            ゲームと追加されたバージョンの情報です。
    GetGamesResponse:
      type: object
      properties:
        num:
          type: integer
          description: |
            limit、offsetが適用される前のゲームの数です。
        games:
          type: array
          items:
            $ref: '#/components/schemas/Game'
          description: |
            limit、offsetが適用された後のゲームの一覧です。
      required:
        - num
        - games
      description: |
        ゲームの一覧を取得します。
        ページングのために、limit、offsetを適用する前のゲームの数をnumで返しています。
    GetGameVersionsResponse:
      type: object
      properties:
        num:
          type: integer
          description: |
            limit、offsetが適用される前のゲームバージョンの数です。
        versions:
          type: array
          items:
            $ref: '#/components/schemas/GameVersion'
          description: |
            limit、offsetが適用された後のゲームバージョンの一覧です。
      required:
        - num
        - versions
      description: |
        ゲームバージョンの一覧を取得します。
        ページングのために、limit、offsetを適用する前のゲームバージョンの数もnumで返しています。

    # エンティティ
    # ユーザー
    User:
      description: ユーザー
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UserID'
        name:
          $ref: '#/components/schemas/UserName'
      required:
        - id
        - name

    # ゲーム
    NewGame:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/GameName'
        description:
          $ref: '#/components/schemas/GameDescription'
        owners:
          type: array
          items:
            $ref: '#/components/schemas/UserName'
          description: |
            ゲームのownerの一覧です。
            指定されない場合、空配列として扱われます。
            ゲームの作成を実行したユーザーは、このリストに含まれていなくてもownerとなります。
            また、このリストにゲームの作成を実行したユーザーが含まれていた場合も、
            エラーにはならず、ゲームの作成を実行したユーザーが含まれない場合と同様の挙動をします。
        maintainers:
          type: array
          items:
            $ref: '#/components/schemas/UserName'
          description: |
            ゲームのmaintainerの一覧です。
            指定されない場合、空配列として扱われます。
            ゲームの作成を実行したユーザーを含むownerと重複するユーザーが存在した場合、
            400エラーとなります。
        version:
          $ref: '#/components/schemas/NewGameVersion'
      required:
        - name
        - description
        - version
      description: |
        ゲームを新しく作成する際に必要な情報です。
    PatchGame:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/GameName'
        description:
          $ref: '#/components/schemas/GameDescription'
      required:
        - name
        - description
      description: |
        ゲームの情報を修正する際に必要な情報です。
    Game:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/GameID'
        name:
          $ref: '#/components/schemas/GameName'
        description:
          $ref: '#/components/schemas/GameDescription'
        owners:
          type: array
          items:
            $ref: '#/components/schemas/UserName'
          description: |
            ゲームのownerの一覧です。
        maintainers:
          type: array
          items:
            $ref: '#/components/schemas/UserName'
          description: |
            ゲームのmaintainerの一覧です。
            maintainerがいない場合、このフィールドは存在しません。
        createdAt:
          $ref: '#/components/schemas/GameCreatedAt'
      required:
        - id
        - name
        - description
        - owners
        - createdAt
      description: |
        ゲームの情報です。

    # ゲーム管理権限
    GameRole:
      type: object
      properties:
        owners:
          type: array
          minLength: 1
          items:
            $ref: '#/components/schemas/UserID'
          description: |
            ゲームのownerの一覧です。
        maintainers:
          type: array
          minLength: 1
          items:
            $ref: '#/components/schemas/UserID'
          description: |
            ゲームのmaintainerの一覧です。
            maintainerがいない場合、このフィールドは存在しません。
      required:
        - owners
      description: |
        ゲームのownerとmaintainerの一覧です。

    # ゲームバージョン
    NewGameVersion:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/GameVersionName'
        description:
          $ref: '#/components/schemas/GameVersionDescription'
        url:
          $ref: '#/components/schemas/GameURL'
        files:
          type: array
          minLength: 1
          maxLength: 3
          items:
            $ref: '#/components/schemas/GameFileID'
        imageID:
          $ref: '#/components/schemas/GameImageID'
        videoID:
          $ref: '#/components/schemas/GameVideoID'
      required:
        - name
        - description
        - imageID
        - videoID
      description: |
        新しいゲームのバージョンの作成に必要な情報です。
        url、filesはゲームの種類に応じていずれかが存在します。
    GameVersion:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/GameVersionID'
        name:
          $ref: '#/components/schemas/GameVersionName'
        description:
          $ref: '#/components/schemas/GameVersionDescription'
        url:
          $ref: '#/components/schemas/GameURL'
        files:
          type: array
          minLength: 1
          maxLength: 3
          items:
            $ref: '#/components/schemas/GameFileID'
        imageID:
          $ref: '#/components/schemas/GameImageID'
        videoID:
          $ref: '#/components/schemas/GameVideoID'
        createdAt:
          $ref: '#/components/schemas/GameVersionCreatedAt'
      required:
        - id
        - name
        - description
        - imageID
        - videoID
        - createdAt
      description: |
        ゲームのバージョンです。
        url、filesはゲームの種類に応じていずれかが存在します。

    # ゲームファイル
    NewGameFile:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/GameFileType'
        entryPoint:
          $ref: '#/components/schemas/GameFileEntryPoint'
        content:
          $ref: '#/components/schemas/GameFileContent'
      required:
        - type
        - entryPoint
        - content
      description: |
        ゲームのファイルを新しく作成する際に必要な情報です。
    GameFile:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/GameFileID'
        type:
          $ref: '#/components/schemas/GameFileType'
        md5:
          $ref: '#/components/schemas/GameFileMd5'
        entryPoint:
          $ref: '#/components/schemas/GameFileEntryPoint'
        createdAt:
          $ref: '#/components/schemas/GameFileCreatedAt'
      required:
        - id
        - type
        - md5
        - entryPoint
        - createdAt
      description: |
        ゲームのファイルのメタ情報です。

    # ゲーム画像
    NewGameImage:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/GameImageType'
        content:
          $ref: '#/components/schemas/GameImageContent'
      required:
        - type
        - content
      description: |
        ゲームの画像を新しく作成する際に必要な情報です。
    GameImage:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/GameImageID'
        type:
          $ref: '#/components/schemas/GameImageType'
        createdAt:
          $ref: '#/components/schemas/GameImageCreatedAt'
      required:
        - id
        - type
        - createdAt
      description: |
        ゲームの画像のメタ情報です。

    # ゲーム動画
    NewGameVideo:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/GameVideoType'
        content:
          $ref: '#/components/schemas/GameVideoContent'
      required:
        - type
        - content
      description: |
        ゲームの動画を新しく作成する際に必要な情報です。
    GameVideo:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/GameVideoID'
        type:
          $ref: '#/components/schemas/GameVideoType'
        createdAt:
          $ref: '#/components/schemas/GameVideoCreatedAt'
      required:
        - id
        - type
        - createdAt
      description: |
        ゲームの動画のメタ情報です。

    # 値オブジェクト
    # ユーザー
    UserID:
      type: string
      format: uuid
      description: |
        ユーザーのIDです。
        traQのユーザーのUUIDと対応します。
    UserName:
      type: string
      example: mazrean
      description: |
        ユーザー名です。
        traQのユーザーのUUIDでないmazreanなどのIDと対応します。

    # ゲーム
    GameID:
      type: string
      format: uuid
      description: |
        ゲームのIDです。
    GameName:
      type: string
      minLength: 1
      maxLength: 256
      example: 'PrestoRay'
      description: |
        ゲームの名前です。
    GameDescription:
      type: string
      minLength: 0
      maxLength: 1000
      example: |
        光を操作して進む、3Dのレースゲームです。
        光は超高速ですが、その分制御するのが非常に難しくなっています。
        コースを3周する時間を競うタイムアタックモードには、オンラインランキングを搭載。
      description: |
        ゲームの説明です。
        ゲームのランチャーでも表示されます。
    GameCreatedAt:
      type: string
      format: date-time
      description: |
        ゲームがtraP Collectionに追加された時刻です。

    # ゲームバージョン
    GameVersionID:
      type: string
      format: uuid
      description: |
        ゲームのバージョンのIDです。
    GameVersionName:
      type: string
      pattern: ^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$
      example: 'v1.0.0'
      description: |
        ゲームのバージョン名です。
        セマンティックバージョニングに沿った文字列が許容されます。
    GameVersionDescription:
      type: string
      minLength: 0
      maxLength: 500
      example: |
        - 新機能1の追加
        - 新機能2の追加
      description: |
        ゲームのバージョンの説明です。
        主にゲームの開発者向けの情報で、ランチャーでは表示されません。
    GameVersionCreatedAt:
      type: string
      format: date-time
      description: |
        ゲームのバージョンが作成された時刻です。

    # ゲームファイル
    GameFileID:
      type: string
      format: uuid
      description: |
        ゲームファイルのIDです。
    GameFileType:
      type: string
      enum:
        - jar
        - win32
        - darwin
      description: |
        ゲームファイルのタイプです。
        jarはJavaで起動しWindows、OSXの両方で実行できるもの、
        windowsはWindows用の実行ファイル、
        macはOSX用の実行ファイルです。
    GameFileMd5:
      type: string
      pattern: ^[0-9a-f]{32}$
      example: 3bccfb0579ab5d81289c459aa8c9a1b0
      description: |
        ゲームファイルのmd5ハッシュ値です。
    GameFileEntryPoint:
      type: string
      example: PPP.exe
      description: |
        ゲームファイルの解凍後の実行ファイルのパスです。
    GameFileContent:
      type: string
      format: binary
      description: |
        ゲームの実行ファイルやデータをzipしたバイナリです。
    GameFileCreatedAt:
      type: string
      format: date-time
      description: |
        ゲームファイルが作成された時刻です。

    # ゲームURL
    GameURL:
      type: string
      format: uri
      description: |
        ゲームのURLの値です。

    # ゲーム画像
    GameImageID:
      type: string
      format: uuid
      description: |
        ゲーム画像のIDです。
    GameImageType:
      type: string
      enum:
        - jpeg
        - png
        - gif
      description: |
        ゲーム画像の種類です。
    GameImageContent:
      type: string
      format: binary
      description: |
        ゲーム画像のバイナリです。
    GameImageCreatedAt:
      type: string
      format: date-time
      description: |
        ゲーム画像の作成時刻です。

    # ゲーム紹介動画
    GameVideoID:
      type: string
      format: uuid
      description: |
        ゲーム紹介動画のIDです。
    GameVideoType:
      type: string
      enum:
        - mp4
      description: |
        ゲーム紹介動画の種類です。
    GameVideoContent:
      type: string
      format: binary
      description: |
        ゲーム紹介動画のバイナリです。
    GameVideoCreatedAt:
      type: string
      format: date-time
      description: |
        ゲーム紹介動画の作成時刻です。
